Repository BHC-IT/ts-tools, changes with the labels that .github/labeler.yml gives for each.
All labels: test, ts scope, cpp scope, bindings, actions, archi

fix: removed old effects
  src/effects/Effect.ts
  src/effects/Either.ts
  src/effects/Maybe.ts
  src/effects/Throwable.ts
  src/index.ts
  src/types/Functions.ts
  test/Effect.test.ts
  test/Either.test.ts
  test/Throwable.test.ts
Labels: test, ts scope

chores: better docs
  CHANGELOG.md
  README.md
  src/Monads/Either.ts
  src/Monads/EitherAsync.ts
  src/Monads/Maybe.ts
  src/Monads/Task.ts
  src/Monads/TypeConstructors/Applicative.ts
  src/Monads/TypeConstructors/Functor.ts
  src/Monads/TypeConstructors/HKT.ts
  src/Monads/TypeConstructors/Monad.ts
  src/tools/deep.ts
  src/tools/drop.ts
  src/tools/flip.ts
  src/tools/head.ts
  src/tools/init.ts
  src/tools/last.ts
  src/tools/lens.ts
  src/tools/observable.ts
  src/tools/tail.ts
  src/tools/take.ts
  src/tools/tobe.ts
Labels: ts scope, archi

chores: prettier
  .prettierrc.json
  src/Array/index.ts
  src/Combinators/index.ts
  src/Function/index.ts
  src/Lens/lens.ts
  src/Monad/Either.ts
  src/Monad/EitherAsync.ts
  src/Monad/Maybe.ts
  src/Monad/index.ts
  src/Numeric/index.ts
  src/Range/range.ts
  src/String/index.ts
  test/Array/array.test.ts
  test/Lens/lens.test.ts
  test/Monads/Task.test.ts
  test/Record/copy.test.ts
  test/Record/eql.test.ts
  vitest.config.ts
Labels: test, ts scope, archi

chores: updates
  .github/workflows/doc.yml
  .github/workflows/semVerRelease.yml
  .github/workflows/test.yml
  .github/workflows/tslint.yml
  package.json
  pnpm-lock.yaml
Labels: archi

chores: update pnpm in actions
  .github/workflows/doc.yml
  .github/workflows/semVerRelease.yml
  .github/workflows/test.yml
  .github/workflows/tslint.yml
Labels: none

fix: coverage
  .nycrc.json
  package.json
  pnpm-lock.yaml
  vitest.config.ts
Labels: archi

feat: beta release
  .releaserc.json
Labels: archi

feat: beta release
  .github/workflows/semVerRelease.yml
Labels: none

feat: beta release
  .github/workflows/semVerRelease.yml
Labels: none

feat: beta release
  .github/workflows/semVerRelease.yml
Labels: none

feat: beta release
  .github/workflows/semVerRelease.yml
Labels: none

perf: complete rework. prefing for update
  .github/workflows/semVerRelease.yml
Labels: none

chores: rework branch trigger
  .github/workflows/semVerRelease.yml
  .github/workflows/test.yml
Labels: none

chores: rework branch trigger
  .github/workflows/tslint.yml
Labels: none

Notes added by 'git notes add'
  cd895b219d54a296c7641dc797d4cbc6f21c58a4
Labels: archi

chore(release): 1.17.0-dev.1 [skip ci]
  CHANGELOG.md
  package.json
Labels: archi

chore(release): 2.0.0-dev.1 [skip ci]
  CHANGELOG.md
  package.json
Labels: archi

Notes added by 'git notes add'
  8cb4435c985b8e5ee3e52ebaaa2d3f3f9d1b95fe
Labels: archi

fix: patched build
  package.json
  tsconfig.json
Labels: archi

chore(release): 2.0.0-dev.2 [skip ci]
  CHANGELOG.md
  package.json
Labels: archi

Notes added by 'git notes add'
  2532b5162b413d7ecc9b4ebda9e118627505d0fc
Labels: archi

fix: patched build
  .github/workflows/semVerRelease.yml
Labels: none

chore(release): 2.0.0-dev.3 [skip ci]
  CHANGELOG.md
  package.json
Labels: archi

Notes added by 'git notes add'
  a347da655307250b87923a5403be0ec3919d910f
Labels: archi

.github/labeler.yml:

test:
  - test/**/*

ts scope:
  - src/**/*

cpp scope:
  - addon/**/*

bindings:
  - bindings/**/*

actions:
  - .github/*

archi:
  - ./*
