Repository BHC-IT/ts-tools, changes with the labels that .github/labeler.yml gives for each.
All labels: test, ts scope, cpp scope, bindings, actions, archi

feat(CI): added semver & test
  .github/workflows/autoTag.yml
  .github/workflows/semVerRelease.yml
  .github/workflows/test.yml
Labels: none

feat(CI): added releaserc.json
  .releaserc.json
Labels: archi

feat(CI): added package-lock.json
  .github/workflows/test.yml
  .gitignore
  package-lock.json
Labels: archi

feat(CI): renamed linting
  .github/workflows/tslint.yml
Labels: none

feat(CI): renamed test actions
  .github/workflows/test.yml
Labels: none

feat(CI): renamed ts lint actions
  .github/workflows/tslint.yml
Labels: none

feat(doc): modified badges in README.md
  README.md
Labels: archi

Dev (#2)
  .github/workflows/test.yml
  .github/workflows/tslint.yml
  .gitignore
  README.md
  package-lock.json
Labels: archi

feat(CI): added semver package in package.json
  package.json
Labels: archi

Dev (#3)
  package.json
Labels: archi

feat(CI): updated package-lock.json accordingly. late
  package-lock.json
Labels: archi

Dev (#4)
  package-lock.json
Labels: archi

Notes added by 'git notes add'
  f22a8439cee084355050adcbd32c0bee607d9ff5
Labels: archi

fix(CI): fixed package name
  package.json
Labels: archi

Dev (#5)
  package.json
Labels: archi

Dev (#6)
  .github/workflows/coverage.yaml
  .github/workflows/labeler.yml
  .github/workflows/test.yml
  .github/workflows/tslint.yml
  .gitignore
  .nyc_output/51c4845a-64af-4158-9eec-82b46f0c3322.json
  .nyc_output/52f87fd6-6b8b-4dc5-b4a8-9f17cbd54022.json
  .nyc_output/6dee075a-9f2b-4072-8646-141f3c4b9a66.json
  .nyc_output/processinfo/51c4845a-64af-4158-9eec-82b46f0c3322.json
  .nyc_output/processinfo/52f87fd6-6b8b-4dc5-b4a8-9f17cbd54022.json
  .nyc_output/processinfo/6dee075a-9f2b-4072-8646-141f3c4b9a66.json
  .nyc_output/processinfo/index.json
  .nycrc.json
  package-lock.json
  package.json
  src/index.ts
  src/tools/compose.ts
  src/tools/pipe.ts
  src/tools/tail.ts
  test/tail.test.ts
Labels: test, ts scope, archi

fix(): changed name of package to match npm registry
  package.json
Labels: archi

chore(release): 1.1.0 [skip ci]
  package.json
Labels: archi

Notes added by 'git notes add'
  1bfd57564446b27f9bf085db5a33422de93cd892
Labels: archi

feat(doc): added documentation with typedoc
  .releaserc.json
  src/index.ts
  src/tools/compose.ts
  src/tools/curry.ts
  src/tools/drop.ts
  src/tools/flip.ts
  src/tools/head.ts
  src/tools/init.ts
  src/tools/last.ts
  src/tools/maybe.ts
  src/tools/pipe.ts
  src/tools/tail.ts
  src/tools/take.ts
  test/compose.test.ts
  test/curry.test.ts
  test/drop.test.ts
  test/flip.test.ts
  test/head.test.ts
  test/init.test.ts
  test/last.test.ts
  test/pipe.test.ts
  test/take.test.ts
Labels: test, ts scope, archi

chore(release): 1.2.0 [skip ci]
  package.json
Labels: archi

Notes added by 'git notes add'
  028f29cc0e5004de51709cbd6693c91d53ef5e8e
Labels: archi

fix(): fix package
  package.json
Labels: archi

chore(release): 1.2.1 [skip ci]
  package.json
Labels: archi

Notes added by 'git notes add'
  b80dd8e18fa875e173a98e8308047a51da197314
Labels: archi

fix(): added pipe export
  src/index.ts
Labels: ts scope

fix(): fixed pipe import
  src/index.ts
Labels: ts scope

chore(release): 1.2.2 [skip ci]
  package.json
Labels: archi

Notes added by 'git notes add'
  c7a3f0a1c85fa55f325fa2a766aa01105b3133d5
Labels: archi

feat(): added Observable class
  .github/workflows/coverage.yaml
  .github/workflows/doc.yml
  .github/workflows/nodejs.yml
  .github/workflows/semVerRelease.yml
  .github/workflows/test.yml
  .gitignore
  .nyc_output/51c4845a-64af-4158-9eec-82b46f0c3322.json
  .nyc_output/52f87fd6-6b8b-4dc5-b4a8-9f17cbd54022.json
  .nyc_output/6dee075a-9f2b-4072-8646-141f3c4b9a66.json
  .nyc_output/processinfo/51c4845a-64af-4158-9eec-82b46f0c3322.json
  .nyc_output/processinfo/52f87fd6-6b8b-4dc5-b4a8-9f17cbd54022.json
  .nyc_output/processinfo/6dee075a-9f2b-4072-8646-141f3c4b9a66.json
  .nyc_output/processinfo/index.json
  .nycrc.json
  CPPLINT.cfg
  package.json
  src/index.ts
  src/tools/flip.ts
  src/tools/observable.ts
  test/observable.test.ts
Labels: test, ts scope, archi

chores(CI): patched branch name in CI scripts
  .github/workflows/doc.yml
  .github/workflows/semVerRelease.yml
  .github/workflows/test.yml
Labels: none

Deploying to doc from @ BHC-IT/ts-tools@f360669121764f6e5036efeb7cb3571afcdb936b 🚀
  assets/css/main.css
  assets/images/icons.png
  assets/images/icons@2x.png
  assets/images/widgets.png
  assets/images/widgets@2x.png
  assets/js/main.js
  assets/js/search.js
  classes/observable.observable-1.html
  index.html
  interfaces/types_maybe.just.html
  interfaces/types_maybe.nothing.html
  modules.html
  modules/compose.html
  modules/curry.html
  modules/drop.html
  modules/flip.html
  modules/head.html
  modules/index.html
  modules/init.html
  modules/last.html
  modules/maybe.html
  modules/observable.html
  modules/pipe.html
  modules/tail.html
  modules/take.html
  modules/types_maybe.html
Labels: archi

chores(CI): fix CI
  .github/workflows/doc.yml
  .github/workflows/semVerRelease.yml
Labels: none

chores(CI): fix CI
  .github/workflows/semVerRelease.yml
Labels: none

Deploying to doc from @ BHC-IT/ts-tools@40064708188dcdba8b08034b29f1b5c8c429c939 🚀
  classes/observable.observable-1.html
  interfaces/types_maybe.just.html
  interfaces/types_maybe.nothing.html
  modules/compose.html
  modules/curry.html
  modules/drop.html
  modules/flip.html
  modules/head.html
  modules/index.html
  modules/init.html
  modules/last.html
  modules/maybe.html
  modules/pipe.html
  modules/tail.html
  modules/take.html
  modules/types_maybe.html
Labels: none

Deploying to doc from @ BHC-IT/ts-tools@a5e0ade241ea52b2fb5252466f540766ecfdebde 🚀
  classes/observable.observable-1.html
  interfaces/types_maybe.just.html
  interfaces/types_maybe.nothing.html
  modules/compose.html
  modules/curry.html
  modules/drop.html
  modules/flip.html
  modules/head.html
  modules/index.html
  modules/init.html
  modules/last.html
  modules/maybe.html
  modules/pipe.html
  modules/tail.html
  modules/take.html
  modules/types_maybe.html
Labels: none

chore(release): 1.3.0 [skip ci]
  package.json
Labels: archi

Notes added by 'git notes add'
  93ae88d4b5d8066083077c207e93a7dc6a573b3a
Labels: archi

fix(CI): release script
  .github/workflows/semVerRelease.yml
  .releaserc.json
Labels: archi

chore(release): 1.3.1 [skip ci]
  CHANGELOG.md
  package.json
Labels: archi

.github/labeler.yml:

test:
  - test/**/*

ts scope:
  - src/**/*

cpp scope:
  - addon/**/*

bindings:
  - bindings/**/*

actions:
  - .github/*

archi:
  - ./*
