Repository BHC-IT/ts-tools, changes with the labels that .github/labeler.yml gives for each.
All labels: test, ts scope, cpp scope, bindings, actions, archi

Notes added by 'git notes add'
  1e853612caf1612696d1b26d9d5c784badaf06dc
Labels: archi

Deploying to doc from @ BHC-IT/ts-tools@6dec3ae72bb76174c4e0c9b310f5f32c1c776f53 🚀
  classes/observable.observable-1.html
  interfaces/types_maybe.just.html
  interfaces/types_maybe.nothing.html
  modules/compose.html
  modules/curry.html
  modules/drop.html
  modules/flip.html
  modules/head.html
  modules/index.html
  modules/init.html
  modules/last.html
  modules/maybe.html
  modules/pipe.html
  modules/tail.html
  modules/take.html
  modules/types_maybe.html
Labels: none

fix(doc): added doc for Maybe.ts
  src/tools/maybe.ts
  src/types/Maybe.ts
Labels: ts scope

Deploying to doc from @ BHC-IT/ts-tools@8657b34f6259781dc90ad1011853ac58df5196a6 🚀
  assets/js/search.js
  classes/observable.observable-1.html
  index.html
  interfaces/type_maybe.just.html
  interfaces/type_maybe.nothing.html
  modules.html
  modules/compose.html
  modules/curry.html
  modules/drop.html
  modules/flip.html
  modules/head.html
  modules/index.html
  modules/init.html
  modules/last.html
  modules/maybe.html
  modules/observable.html
  modules/pipe.html
  modules/tail.html
  modules/take.html
  modules/type_maybe.html
Labels: archi

fix(CI): fix SemVer script
  .github/workflows/semVerRelease.yml
Labels: none

Deploying to doc from @ BHC-IT/ts-tools@bf4cceb4a049ffe6cadb8e3b4c04ca8614703e1c 🚀
  classes/observable.observable-1.html
  modules/compose.html
  modules/curry.html
  modules/drop.html
  modules/flip.html
  modules/head.html
  modules/index.html
  modules/init.html
  modules/last.html
  modules/maybe.html
  modules/pipe.html
  modules/tail.html
  modules/take.html
  modules/type_maybe.html
Labels: none

fix(CI): use npm ci
  .github/workflows/semVerRelease.yml
Labels: none

Deploying to doc from @ BHC-IT/ts-tools@2437a113a16ad65b5abce7a2d3357270eaf440c4 🚀
  classes/observable.observable-1.html
  modules/compose.html
  modules/curry.html
  modules/drop.html
  modules/flip.html
  modules/head.html
  modules/index.html
  modules/init.html
  modules/last.html
  modules/maybe.html
  modules/pipe.html
  modules/tail.html
  modules/take.html
  modules/type_maybe.html
Labels: none

fix(CI): checkout with bot
  .github/workflows/semVerRelease.yml
Labels: none

Deploying to doc from @ BHC-IT/ts-tools@7cb04db8d9a4116c0de0a394a212a1e14a17baaa 🚀
  classes/observable.observable-1.html
  modules/compose.html
  modules/curry.html
  modules/drop.html
  modules/flip.html
  modules/head.html
  modules/index.html
  modules/init.html
  modules/last.html
  modules/maybe.html
  modules/pipe.html
  modules/tail.html
  modules/take.html
  modules/type_maybe.html
Labels: none

chore(release): 1.3.2 [skip ci]
  CHANGELOG.md
  package.json
Labels: archi

Notes added by 'git notes add'
  8301dccfe21a56badf6f725fd7ac0149c61797ce
Labels: archi

fix(): added change method to Observable
  src/tools/observable.ts
  src/types/Maybe.ts
Labels: ts scope

chores(): added test case for Observable.change
  package-lock.json
  package.json
  src/tools/observable.ts
  test/observable.test.ts
  tsconfig.json
Labels: test, ts scope, archi

chores(): added doc for Observable.change
  src/tools/observable.ts
Labels: ts scope

chores(): added Observable.shouldCallListener
  src/tools/observable.ts
Labels: ts scope

chores(): corrected silly error
  src/tools/observable.ts
Labels: ts scope

chores(): corrected silly error
  src/tools/observable.ts
Labels: ts scope

chores(): added coverage
  test/observable.test.ts
Labels: test

chore(release): 1.3.3 [skip ci]
  CHANGELOG.md
  package.json
Labels: archi

Notes added by 'git notes add'
  54d7c9c06ec097114f33b6925aa746d30f5d7aab
Labels: archi

Deploying to doc from @ BHC-IT/ts-tools@c5468664bee9071ba2f80e1cdf751c9255090168 🚀
  assets/js/search.js
  classes/observable.observable-1.html
  modules/compose.html
  modules/curry.html
  modules/drop.html
  modules/flip.html
  modules/head.html
  modules/index.html
  modules/init.html
  modules/last.html
  modules/maybe.html
  modules/pipe.html
  modules/tail.html
  modules/take.html
  modules/type_maybe.html
Labels: none

feat(): added observe function
  src/index.ts
  src/tools/observable.ts
  test/observable.test.ts
Labels: test, ts scope

chores(): added coverage
  test/observable.test.ts
Labels: test

chore(release): 1.4.0 [skip ci]
  CHANGELOG.md
  package.json
Labels: archi

Notes added by 'git notes add'
  5324a8b378d3bef814f6d899db24dafd4bf70c2e
Labels: archi

Deploying to doc from @ BHC-IT/ts-tools@03c8a1235ff9e879270ff11cf2ab69a1fdc9e518 🚀
  assets/js/search.js
  classes/observable.observable-1.html
  modules/compose.html
  modules/curry.html
  modules/drop.html
  modules/flip.html
  modules/head.html
  modules/index.html
  modules/init.html
  modules/last.html
  modules/maybe.html
  modules/observable.html
  modules/pipe.html
  modules/tail.html
  modules/take.html
  modules/type_maybe.html
Labels: none

feat(): added tobe with test case
  src/index.ts
Labels: ts scope

chores(): added doc for tobe
  src/tools/tobe.ts
  test/tobe.test.ts
Labels: test, ts scope

chore(release): 1.5.0 [skip ci]
  CHANGELOG.md
  package.json
Labels: archi

Notes added by 'git notes add'
  52be0d6b6774d2b5cbb640dfe1b4a16885aca109
Labels: archi

Deploying to doc from @ BHC-IT/ts-tools@4ce6b2fb1144ee6bc08be658127ba63fcdb62b83 🚀
  assets/js/search.js
  classes/observable.observable-1.html
  index.html
  interfaces/type_maybe.just.html
  interfaces/type_maybe.nothing.html
  modules.html
  modules/compose.html
  modules/curry.html
  modules/drop.html
  modules/flip.html
  modules/head.html
  modules/index.html
  modules/init.html
  modules/last.html
  modules/maybe.html
  modules/pipe.html
  modules/tail.html
  modules/take.html
  modules/tobe.html
  modules/type_maybe.html
Labels: archi

fixe(): added lockFor
  src/index.ts
  src/tools/tobe.ts
  test/tobe.test.ts
Labels: test, ts scope

feat(): added sleep
  src/index.ts
  src/tools/sleep.ts
  src/tools/tobe.ts
  test/sleep.test.ts
Labels: test, ts scope

chore(release): 1.6.0 [skip ci]
  CHANGELOG.md
  package.json
Labels: archi

Notes added by 'git notes add'
  e6cf46244dac81b2587f2b189e3fc5c2b0a306da
Labels: archi

Deploying to doc from @ BHC-IT/ts-tools@1fb1e9cba0cb8c2ec1d48859ee8ac28d2c4b2479 🚀
  assets/js/search.js
  classes/observable.observable-1.html
  index.html
  interfaces/type_maybe.just.html
  interfaces/type_maybe.nothing.html
  modules.html
  modules/compose.html
  modules/curry.html
  modules/drop.html
  modules/flip.html
  modules/head.html
  modules/index.html
  modules/last.html
  modules/maybe.html
  modules/observable.html
  modules/pipe.html
  modules/sleep.html
  modules/tail.html
  modules/take.html
  modules/tobe.html
  modules/type_maybe.html
Labels: archi

feat(): added range. added deepCopy
  src/index.ts
  src/tools/compose.ts
  src/tools/deep.ts
  src/tools/pipe.ts
  src/tools/range.ts
  src/tools/tobe.ts
  test/deep.test.ts
  test/range.test.ts
Labels: test, ts scope

fix(): import of deepCopy in index.ts
  src/index.ts
Labels: ts scope

feat(): added lens
  src/index.ts
  src/tools/deep.ts
  src/tools/head.ts
  src/tools/lens.ts
  src/tools/range.ts
  src/tools/tail.ts
  test/lens.test.ts
Labels: test, ts scope

.github/labeler.yml:

test:
  - test/**/*

ts scope:
  - src/**/*

cpp scope:
  - addon/**/*

bindings:
  - bindings/**/*

actions:
  - .github/*

archi:
  - ./*
