Repository BHC-IT/ts-tools, changes with the labels that .github/labeler.yml gives for each.
All labels: test, ts scope, cpp scope, bindings, actions, archi

.github/labeler.yml:

test:
  - test/**/*

ts scope:
  - src/**/*

cpp scope:
  - addon/**/*

bindings:
  - bindings/**/*

actions:
  - .github/*

archi:
  - ./*

Create LICENSE
  LICENSE
Labels: archi

test(): algebraic litterals
  src/index.ts
  src/types/testTypes.ts
  test/head.test.ts
Labels: test, ts scope

fix(types): better num alg typing
  src/types/testTypes.ts
Labels: ts scope

chores(): Create LICENSE
  LICENSE
Labels: archi

chores(CI): use nodejs 16
  .github/workflows/semVerRelease.yml
  .github/workflows/test.yml
  .github/workflows/tslint.yml
Labels: none

Deploying to doc from @ BHC-IT/ts-tools@c261a22cd2a781fd407a04ed3c41d181a347e96a 🚀
  classes/Effect.html
  classes/Either.html
  classes/Maybe.html
  classes/Observable.html
  classes/Throwable.html
  modules/Array.html
  modules/Combinators.html
  modules/Pipe.html
  modules/String.html
Labels: none

Deploying to doc from @ BHC-IT/ts-tools@3d95864822ad1cc393ac322b9224aa06423baf1b 🚀
  classes/Effect.html
  classes/Either.html
  classes/Maybe.html
  classes/Observable.html
  classes/Throwable.html
  modules/Array.html
  modules/Combinators.html
  modules/Pipe.html
  modules/String.html
Labels: none

fix(fmap): better typing and tooling
  src/effects/Effect.ts
  src/effects/Either.ts
  src/effects/Maybe.ts
  src/effects/Throwable.ts
  src/index.ts
  src/tools/fmap.ts
  src/tools/head.ts
  src/types/testTypes.ts
  test/Effect.test.ts
  test/Either.test.ts
  test/Maybe.test.ts
  test/Throwable.test.ts
  test/fmap.test.ts
Labels: test, ts scope

fix(build): lint
  package-lock.json
  package.json
  src/effects/Effect.ts
  src/types/testTypes.ts
Labels: ts scope, archi

feat(): Added Numeric namespace
  src/index.ts
  src/namespaces/Numeric.ts
  src/types/Numeric.ts
  src/types/Tuple.ts
  src/types/testTypes.ts
  test/Numeric.test.ts
Labels: test, ts scope

chores(v2-setup): using pnpm in ci
  .github/workflows/doc.yml
  .github/workflows/test.yml
Labels: none

chores(v2-setup): using pnpm correctly
  .github/workflows/doc.yml
  .github/workflows/semVerRelease.yml
  .github/workflows/test.yml
  .github/workflows/tslint.yml
Labels: none

chores(v2-setup): using pnpm correctly
  .github/workflows/doc.yml
  .github/workflows/semVerRelease.yml
  .github/workflows/test.yml
  .github/workflows/tslint.yml
Labels: none

chores(v2-setup): removed bad flags
  .github/workflows/test.yml
Labels: none

chores(v2-setup): commented new curry
  src/tools/curry.ts
Labels: ts scope

chores(v2-setup): fix Maybe.case typing
  package.json
  src/effects/Maybe.ts
  src/namespaces/Numeric.ts
Labels: ts scope, archi

feat(): new monadics typing
  package.json
  pnpm-lock.yaml
  src/Monads/DataConstructors/Applicative.ts
  src/Monads/DataConstructors/Functor.ts
  src/Monads/DataConstructors/HKT.ts
  src/Monads/DataConstructors/Monad.ts
  src/effects/Effect.ts
  tsconfig.json
  tslint.json
Labels: ts scope, archi

feat(): added Maybe
  src/Monads/Maybe.ts
Labels: ts scope

fix(): renamed folder
  src/Monads/Maybe.ts
  src/Monads/TypeConstructors/Applicative.ts
  src/Monads/TypeConstructors/Functor.ts
  src/Monads/TypeConstructors/HKT.ts
  src/Monads/TypeConstructors/Monad.ts
  src/index.ts
  src/types/Empty.ts
Labels: ts scope

test(): realigned tests
  src/Monads/Maybe.ts
  src/Monads/index.ts
  src/index.ts
  src/tools/pipe.ts
  test/Monads/Maybe.test.ts
  test/pipe.test.ts
Labels: test, ts scope

feat(): Created Task wrapper to monadify Promise
  src/Monads/Task.ts
  src/Monads/TypeConstructors/HKT.ts
Labels: ts scope

feat(): exporting Task
  src/Monads/index.ts
Labels: ts scope

feat(v2): better monads
  src/Monads/Maybe.ts
  src/Monads/Task.ts
  src/Monads/TypeConstructors/HKT.ts
  src/Monads/TypeConstructors/Monad.ts
  src/Monads/TypeConstructors/index.ts
  src/Monads/index.ts
  src/index.ts
  src/tools/forward.ts
  test/Monads/Maybe.test.ts
  test/Monads/Task.test.ts
  test/combinators.test.ts
Labels: test, ts scope

fix(v2); repare build
  package.json
  pnpm-lock.yaml
  src/index.ts
  src/tools/fmap.ts
  src/tools/pipe.ts
  test/Monads/Task.test.ts
  test/fmap.test.ts
  test/pipe.test.ts
  test/pipeMetaToolings.test.ts
Labels: test, ts scope, archi

fix(v2): less flacky
  test/tobe.test.ts
Labels: test

fix(v2): using latest checkout action
  .github/workflows/test.yml
Labels: none

feat(v2): recreated Either monad
  .gitignore
  src/Monads/Either.ts
  src/Monads/Maybe.ts
  src/Monads/Task.ts
  src/Monads/TypeConstructors/Applicative.ts
  src/Monads/TypeConstructors/Functor.ts
  src/Monads/TypeConstructors/HKT.ts
  src/Monads/TypeConstructors/Monad.ts
  src/Monads/index.ts
  src/index.ts
  src/tools/forward.ts
  test/Monads/Either.test.ts
  test/Monads/Maybe.test.ts
  test/Monads/Task.test.ts
Labels: test, ts scope, archi

refactor(forward): Remove require cycles
  src/tools/forward.ts
Labels: ts scope

chore: Fix typo in package.json (type -> types)
  package.json
Labels: archi

refactor(memoise): Remove require cycle
  src/tools/memoise.ts
Labels: ts scope

refactor(Array): remove require cycle
  src/namespaces/Array.ts
Labels: ts scope

refactor(Pipe): Remove require cycle
  src/namespaces/Pipe.ts
Labels: ts scope

Deploying to doc from @ BHC-IT/ts-tools@5372862012e4e36617ec70d2ba93b79e2017c54e 🚀
  classes/Effect.html
  classes/Either.html
  classes/Maybe.html
  classes/Observable.html
  classes/Throwable.html
  modules/Array.html
  modules/Combinators.html
  modules/Pipe.html
  modules/String.html
Labels: none

chore: Apply patch release on refactor-type commits
  .releaserc.json
Labels: archi

chore(release): 1.16.2 [skip ci]
  CHANGELOG.md
  package.json
Labels: archi

Notes added by 'git notes add'
  7d6c1ed5ecc4157e5951cc028c4e3fdbf7998db4
Labels: archi

Deploying to doc from @ BHC-IT/ts-tools@7d6c1ed5ecc4157e5951cc028c4e3fdbf7998db4 🚀
  classes/Effect.html
  classes/Either.html
  classes/Maybe.html
  classes/Observable.html
  classes/Throwable.html
  modules/Array.html
  modules/Combinators.html
  modules/Pipe.html
  modules/String.html
Labels: none

feat: added EitherAsync
  src/Monads/EitherAsync.ts
  src/Monads/TypeConstructors/HKT.ts
  src/Monads/index.ts
  src/index.ts
  test/Monads/EitherAsync.test.ts
Labels: test, ts scope

chore: update lockfile
  pnpm-lock.yaml
Labels: archi

fix: minor rework of eitherAsync
  src/Monads/EitherAsync.ts
  test/Monads/EitherAsync.test.ts
Labels: test, ts scope
