Repository BHC-IT/ts-tools, changes with the labels that .github/labeler.yml gives for each.
All labels: test, ts scope, cpp scope, bindings, actions, archi

chore(release): 1.7.0 [skip ci]
  CHANGELOG.md
  package.json
Labels: archi

Deploying to doc from @ BHC-IT/ts-tools@414a0a5abe5c151fd058c192507181ec083e70e2 🚀
  assets/js/search.js
  classes/observable.observable-1.html
  index.html
  interfaces/type_maybe.nothing.html
  modules.html
  modules/compose.html
  modules/curry.html
  modules/deep.html
  modules/drop.html
  modules/head.html
  modules/index.html
  modules/init.html
  modules/last.html
  modules/lens.html
  modules/maybe.html
  modules/observable.html
  modules/pipe.html
  modules/range.html
  modules/sleep.html
  modules/tail.html
  modules/take.html
  modules/tobe.html
  modules/type_maybe.html
Labels: archi

Notes added by 'git notes add'
  d31c6c83fe1b1ab780da3d4fc12da31de62b4f91
Labels: archi

chores(): corrected readme & package.json
  README.md
  package.json
  src/tools/maybe.ts
Labels: ts scope, archi

Deploying to doc from @ BHC-IT/ts-tools@5d2ff487dd8e31a5eb999e7e5771034fd41b2b0f 🚀
  classes/observable.observable-1.html
  index.html
  modules/compose.html
  modules/curry.html
  modules/deep.html
  modules/drop.html
  modules/flip.html
  modules/head.html
  modules/index.html
  modules/init.html
  modules/last.html
  modules/lens.html
  modules/maybe.html
  modules/observable.html
  modules/pipe.html
  modules/sleep.html
  modules/tail.html
  modules/take.html
  modules/tobe.html
  modules/type_maybe.html
Labels: archi

chores(): patched doc maybe
  src/tools/maybe.ts
  src/tools/tobe.ts
Labels: ts scope

Deploying to doc from @ BHC-IT/ts-tools@6c0db54f2dd4cdd96fb83feb98fbb8d5d0c29770 🚀
  classes/observable.observable-1.html
  modules/compose.html
  modules/curry.html
  modules/deep.html
  modules/drop.html
  modules/flip.html
  modules/head.html
  modules/index.html
  modules/init.html
  modules/last.html
  modules/lens.html
  modules/maybe.html
  modules/observable.html
  modules/pipe.html
  modules/sleep.html
  modules/tail.html
  modules/take.html
  modules/tobe.html
  modules/type_maybe.html
Labels: none

fix(): tobe: no lock if observable is true initialy
  package-lock.json
  package.json
  src/tools/tobe.ts
  test/tobe.test.ts
Labels: test, ts scope, archi

chore(release): 1.7.1 [skip ci]
  CHANGELOG.md
  package.json
Labels: archi

Notes added by 'git notes add'
  ede08fd904b5c60c41adf14ce16cdd9d180c8dce
Labels: archi

Deploying to doc from @ BHC-IT/ts-tools@c93e9d358308f6656f48d77374efea0387390915 🚀
  classes/observable.observable-1.html
  modules/compose.html
  modules/curry.html
  modules/deep.html
  modules/drop.html
  modules/flip.html
  modules/head.html
  modules/index.html
  modules/init.html
  modules/last.html
  modules/lens.html
  modules/maybe.html
  modules/observable.html
  modules/pipe.html
  modules/sleep.html
  modules/tail.html
  modules/take.html
  modules/tobe.html
  modules/type_maybe.html
Labels: none

chores(): updated packages
  package-lock.json
  package.json
  src/tools/range.ts
Labels: ts scope, archi

feat(): added deep eql
  nodemon.test.json
  package.json
  src/index.ts
  src/tools/deep.ts
  src/tools/eql.ts
  src/tools/lens.ts
  src/tools/range.ts
  src/tools/tail.ts
  test/deep.test.ts
  test/eql.ts
  test/flip.test.ts
Labels: test, ts scope, archi

Deploying to doc from @ BHC-IT/ts-tools@e90ce21273b55ab0359befe79647d912ff4300a8 🚀
  classes/observable.observable-1.html
  modules/compose.html
  modules/curry.html
  modules/deep.html
  modules/drop.html
  modules/flip.html
  modules/head.html
  modules/index.html
  modules/init.html
  modules/last.html
  modules/lens.html
  modules/maybe.html
  modules/observable.html
  modules/pipe.html
  modules/sleep.html
  modules/tail.html
  modules/take.html
  modules/tobe.html
  modules/type_maybe.html
Labels: none

chores(test): added coverage test
  test/range.test.ts
Labels: test

chores(package): removed jsdoc
  package.json
Labels: archi

chores(): rebuild package-lock
  package-lock.json
Labels: archi

Deploying to doc from @ BHC-IT/ts-tools@68b96d07ad38cd7be8651d562e126fd1e61f1b53 🚀
  assets/css/main.css
  assets/js/main.js
  assets/js/search.js
  classes/observable.observable-1.html
  index.html
  interfaces/type_maybe.just.html
  interfaces/type_maybe.nothing.html
  modules.html
  modules/compose.html
  modules/curry.html
  modules/deep.html
  modules/drop.html
  modules/eql.html
  modules/flip.html
  modules/head.html
  modules/index.html
  modules/init.html
  modules/last.html
  modules/lens.html
  modules/maybe.html
  modules/observable.html
  modules/pipe.html
  modules/range.html
  modules/sleep.html
  modules/tail.html
  modules/tobe.html
  modules/type_maybe.html
Labels: archi

chores(): fix doc
  src/tools/eql.ts
Labels: ts scope

Deploying to doc from @ BHC-IT/ts-tools@e40ddbdc3791d03dc4e3c2f96b7c8a7b6e1bd704 🚀
  classes/observable.observable-1.html
  modules/compose.html
  modules/curry.html
  modules/deep.html
  modules/drop.html
  modules/eql.html
  modules/flip.html
  modules/head.html
  modules/index.html
  modules/init.html
  modules/last.html
  modules/lens.html
  modules/maybe.html
  modules/observable.html
  modules/pipe.html
  modules/sleep.html
  modules/tail.html
  modules/take.html
  modules/tobe.html
  modules/type_maybe.html
Labels: none

chores(): removed package repourl
  package.json
Labels: archi

Deploying to doc from @ BHC-IT/ts-tools@c4751dbca4a4bbda62294e64a78985229b93ebee 🚀
  classes/observable.observable-1.html
  modules/compose.html
  modules/curry.html
  modules/deep.html
  modules/drop.html
  modules/eql.html
  modules/flip.html
  modules/head.html
  modules/index.html
  modules/init.html
  modules/last.html
  modules/lens.html
  modules/maybe.html
  modules/observable.html
  modules/pipe.html
  modules/sleep.html
  modules/tail.html
  modules/take.html
  modules/tobe.html
  modules/type_maybe.html
Labels: none

chore(release): 1.8.0 [skip ci]
  CHANGELOG.md
  package.json
Labels: archi

Notes added by 'git notes add'
  297d4f9b2fc17b0711d7f4a2cfc84ad904982f96
Labels: archi

Deploying to doc from @ BHC-IT/ts-tools@297d4f9b2fc17b0711d7f4a2cfc84ad904982f96 🚀
  classes/observable.observable-1.html
  modules/compose.html
  modules/curry.html
  modules/deep.html
  modules/drop.html
  modules/eql.html
  modules/flip.html
  modules/head.html
  modules/index.html
  modules/init.html
  modules/last.html
  modules/lens.html
  modules/maybe.html
  modules/observable.html
  modules/pipe.html
  modules/sleep.html
  modules/tail.html
  modules/take.html
  modules/tobe.html
  modules/type_maybe.html
Labels: none

break(): reworked effect interfaces
  package-lock.json
  package.json
  src/index.ts
  src/tools/maybe.ts
  src/types/Maybe.ts
  test/Maybe.test.ts
Labels: test, ts scope, archi

fix(): corrected test and cleaned up
  src/effects/Maybe.ts
  src/types/Effect.ts
  src/types/Maybe.ts
  test/Maybe.test.ts
Labels: test, ts scope

feat(): added fmap
  src/effects/Effect.ts
  src/effects/Maybe.ts
  src/index.ts
  src/tools/fmap.ts
  src/types/Identity.ts
  test/Maybe.test.ts
  test/fmap.test.ts
Labels: test, ts scope

feat(): added fmap
  src/index.ts
Labels: ts scope

fix(): patched a little oopsi
  src/index.ts
Labels: ts scope

chore(release): 1.9.0 [skip ci]
  CHANGELOG.md
  package.json
Labels: archi

Notes added by 'git notes add'
  3b76d49862c8c397925abca416e790a62948cffb
Labels: archi

feat(): added rcurry
  src/tools/curry.ts
  test/curry.test.ts
Labels: test, ts scope

feat(): added rcurry
  src/index.ts
Labels: ts scope

feat(): created string namespace
  src/Namespaces/string.ts
Labels: ts scope

fix(): export String
  src/index.ts
Labels: ts scope

perf(): added Maybe tooling
  src/Namespaces/string.ts
  src/effects/Effect.ts
  src/effects/Maybe.ts
  src/index.ts
  src/namespaces/string.ts
  src/tools/emit.ts
  src/tools/forward.ts
  test/Effect.test.ts
  test/Maybe.test.ts
  test/eql.test.ts
  tsconfig.json
Labels: test, ts scope, archi

chore(release): 1.10.0 [skip ci]
  CHANGELOG.md
  package.json
Labels: archi

Notes added by 'git notes add'
  94dbd5cb2c891b591e9477ea29c40c96f7450383
Labels: archi

feat(): added Maybe liftFromThrowableAsync && removed console.log
  src/effects/Maybe.ts
  src/index.ts
Labels: ts scope

.github/labeler.yml:

test:
  - test/**/*

ts scope:
  - src/**/*

cpp scope:
  - addon/**/*

bindings:
  - bindings/**/*

actions:
  - .github/*

archi:
  - ./*
