Repository BHC-IT/ts-tools, changes with the labels that .github/labeler.yml gives for each.
All labels: test, ts scope, cpp scope, bindings, actions, archi

chore(release): 1.11.0 [skip ci]
  CHANGELOG.md
  package.json
Labels: archi

Notes added by 'git notes add'
  35dd1b45d4756bb5b9fb17d9561886fa1d141a2f
Labels: archi

fix(): forward export forward module
  src/index.ts
Labels: ts scope

chore(release): 1.11.1 [skip ci]
  CHANGELOG.md
  package.json
Labels: archi

Notes added by 'git notes add'
  474bdbe2516a114d4cd5c3a0288f3ed1f6050fd0
Labels: archi

feat(): added show
  src/index.ts
  src/tools/emit.ts
  src/tools/forward.ts
  src/tools/show.ts
Labels: ts scope

chore(release): 1.12.0 [skip ci]
  CHANGELOG.md
  package.json
Labels: archi

Notes added by 'git notes add'
  a393469673a01badc8190fa27c109e7491d7b81a
Labels: archi

feat(): added forward
  src/effects/Maybe.ts
  src/index.ts
  src/namespaces/string.ts
  src/tools/forward.ts
  src/tools/show.ts
  test/Maybe.test.ts
Labels: test, ts scope

fix(): test coverage is up again
  package-lock.json
  package.json
  src/namespaces/string.ts
  test/forward.test.ts
  test/show.test.ts
  test/string.test.ts
Labels: test, ts scope, archi

feat(): added Throwable Effect
  src/effects/Maybe.ts
  src/effects/Throwable.ts
  src/index.ts
  src/tools/emit.ts
  test/Throwable.test.ts
Labels: test, ts scope

feat(): added Throwable Effect
  src/effects/Effect.ts
  src/effects/Maybe.ts
  src/effects/Throwable.ts
  src/tools/fmap.ts
  test/Effect.test.ts
  test/Maybe.test.ts
  test/Throwable.test.ts
  test/fmap.test.ts
Labels: test, ts scope

feat(): made a stronger fmap
  src/tools/fmap.ts
  test/Throwable.test.ts
  test/fmap.test.ts
Labels: test, ts scope

feat(): added basic function types
  src/types/Functions.ts
Labels: ts scope

feat(): added async pipe
  src/index.ts
  src/tools/fmap.ts
  src/tools/pipe.ts
  src/types/Functions.ts
  test/Maybe.test.ts
  test/Throwable.test.ts
  test/pipe.test.ts
Labels: test, ts scope

feat(): better typecheck on pipes
  src/index.ts
  src/tools/compose.ts
  src/tools/pipe.ts
  src/types/Functions.ts
  test/compose.test.ts
  test/pipe.test.ts
  tsconfig.json
Labels: test, ts scope, archi

feat(): added bind on Effect, added pipeEffect & pipeEffectAsync
  src/effects/Effect.ts
  src/effects/Maybe.ts
  src/effects/Throwable.ts
  src/index.ts
  src/tools/fmap.ts
  src/tools/pipe.ts
  test/Effect.test.ts
  test/Maybe.test.ts
  test/Throwable.test.ts
  test/fmap.test.ts
  test/pipe.test.ts
Labels: test, ts scope

fix(): added sinon in devDep
  package.json
Labels: archi

fix(): added sinon in devDep
  package.json
Labels: archi

fix(): added sinon in devDep & audit fix
  package-lock.json
  package.json
Labels: archi

chore(release): 1.13.0 [skip ci]
  CHANGELOG.md
  package.json
Labels: archi

Notes added by 'git notes add'
  f3f21143a451831de75daa0191f9518ddcaef2a5
Labels: archi

feat(): added Array namespace
  package-lock.json
  src/effects/Maybe.ts
  src/index.ts
  src/namespaces/Array.ts
  src/namespaces/String.ts
  src/tools/always.ts
  src/tools/forward.ts
  test/always.test.ts
  test/array.test.ts
  test/pipe.test.ts
  test/string.test.ts
Labels: test, ts scope, archi

feat(): Added Either
  src/effects/Effect.ts
  src/effects/Either.ts
  src/effects/Maybe.ts
  src/effects/Throwable.ts
  src/index.ts
  src/namespaces/Pipe.ts
  src/tools/fmap.ts
  src/tools/memoise.ts
  test/Effect.test.ts
  test/Either.test.ts
  test/Maybe.test.ts
  test/Pipe.test.ts
  test/Throwable.test.ts
  test/memoise.test.ts
Labels: test, ts scope

chore(release): 1.14.0 [skip ci]
  CHANGELOG.md
  package.json
Labels: archi

Notes added by 'git notes add'
  32f25b64bce30544890d940d8e2a2ebbbc95c905
Labels: archi

feat(): added combinators
  src/namespaces/Array.ts
  src/tools/combinators.ts
  src/tools/lens.ts
  test/array.test.ts
Labels: test, ts scope

fix(): better typing
  package-lock.json
  package.json
  src/effects/Maybe.ts
  src/effects/Throwable.ts
  src/index.ts
  src/namespaces/Array.ts
  src/tools/combinators.ts
  src/tools/curry.ts
  src/tools/forward.ts
  src/tools/head.ts
  src/tools/init.ts
  src/tools/last.ts
  src/tools/pipe.ts
  src/tools/tail.ts
  src/types/Identity.ts
  test/curry.test.ts
  test/head.test.ts
  test/init.test.ts
  test/last.test.ts
  test/tail.test.ts
Labels: test, ts scope, archi

chores(): added test for combinators
  .npmignore
  src/index.ts
  src/tools/combinators.ts
  test/combinators.ts
Labels: test, ts scope, archi

fix: better typings
  src/namespaces/Array.ts
  src/tools/head.ts
  src/tools/init.ts
  src/tools/last.ts
  src/tools/tail.ts
  test/head.test.ts
  test/init.test.ts
  test/last.test.ts
Labels: test, ts scope

chores(): patched ci
  .github/workflows/doc.yml
  .github/workflows/semVerRelease.yml
  test/observable.test.ts
Labels: test

chore(release): 1.15.0 [skip ci]
  CHANGELOG.md
  package.json
Labels: archi

Notes added by 'git notes add'
  69f7c316a8efff75c81fb27dc99161db3692cf20
Labels: archi

fix(): CI
  .github/workflows/test.yml
  .github/workflows/tslint.yml
Labels: none

chore(release): 1.16.0 [skip ci]
  CHANGELOG.md
  package.json
Labels: archi

Notes added by 'git notes add'
  c22c507593c2b100eb365dba87ba16079e6bcee4
Labels: archi

fix(): dependecies vulns
  package-lock.json
  package.json
Labels: archi

chore(release): 1.16.1 [skip ci]
  CHANGELOG.md
  package.json
Labels: archi

Notes added by 'git notes add'
  eeaab5b9fa937a5aa0bb703740f8c2713de0dae5
Labels: archi

Deploying to doc from @ BHC-IT/ts-tools@eeaab5b9fa937a5aa0bb703740f8c2713de0dae5 🚀
  assets/highlight.css
  assets/main.js
  assets/search.js
  assets/style.css
  classes/Effect.html
  classes/Either.html
  classes/Maybe.html
  classes/Observable.html
  classes/Throwable.html
  modules/Array.html
  modules/Combinators.html
  modules/Pipe.html
  modules/String.html
Labels: none

.github/labeler.yml:

test:
  - test/**/*

ts scope:
  - src/**/*

cpp scope:
  - addon/**/*

bindings:
  - bindings/**/*

actions:
  - .github/*

archi:
  - ./*
